@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="hydro-config" />
  <title>@ViewData["Title"] - Hydro</title>
  <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
  <link rel="icon" type="image/png" href="/images/logo-icon.png">
  <link rel="apple-touch-icon" type="image/png" href="/images/logo-icon.png">
  <script src="~/hydro/hydro.js" asp-append-version="true"></script>
  <script src="~/hydro/alpine.js" asp-append-version="true"></script>
</head>
<body>

<div class="max-w-[900px] my-5 mx-auto">
  <main role="main">
    @RenderBody()
  </main>
</div>

</body>
</html>