@model Card

<div class="@Model.Attribute("class") flex flex-col gap-2 items-center mb-7 w-full max-w-[400px] rounded-3xl bg-[#ffff00] border-[5px] border-black p-6 shadow-[6px_6px_0_#00000033]">
  @Model.Slot()
</div>

