@model Logo

<div class="relative w-[200px] h-[200px] my-[24px] mx-auto mb-[72px]">
  <div class="absolute top-1/2 left-1/2 w-4/5 h-4/5 rounded-full blur-[40px] opacity-65 transform -translate-x-1/2 -translate-y-1/2 bg-[linear-gradient(-45deg,#ff428e_50%,#fa7df9_50%)]"></div>
  <img class="absolute w-4/5 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2" src="images/logo.png" alt="Logo" />
</div>